.check-browser-modal {
  .ant-modal-content,
  .custom-default-modal-content,
  .custom-dark-modal-content {
    background: transparent;
    box-shadow: none;
  }
  .ant-modal-body,
  .custom-default-modal-body,
  .custom-dark-modal-body {
    padding: 0;
  }
}
